* {
    font: questrial, sans-serif;

    margin: 0;
    padding: 0;
    border: 0;
}

nav ul {
    list-style-type: none;
    float: right;
    color: white;
    padding: 0;
    font-size: 17px;
    cursor: pointer;
    background-color: #0a182d;
    width: 100%;
    height: 80px;
    vertical-align: bottom;
    text-align: right;

}


nav ul li {
    display: inline;
    padding: 10px;

}

.LinkedIn-Logo {
    width: 25px;
    height: auto;
    padding-top: 10px;
}

.main {
    background-color: rgb(11,27,50);
    padding-bottom: 20px;
    margin: 0;
}

heading h1 {
    text-align: center;
    line-height: 1.25em;
    font-size: 72px;
    color: rgb(77,166,154);
    -top: 20px;
}

heading h3 {
    text-align: center;
    line-height: 1.67em;
    font-size: 20px;
    color: white;
}

heading p {
    text-align: center;
    line-height: 1.875em;
    font-size: 15px;
    color: white;
    max-width: 60%;
    min-width: 30%;
    margin:0 auto;
}

.collage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 50px;
}

.finished, .work-in-progress, .future-projects {
    width: 30%;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

contact {
    text-align: center;
}

/* TABLE of PROJECTS */

table {
    margin-top: 100px;
    background-color: rgb(77,166,154);
	width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;
}
/*
table img {
    width: 90%;
    height: 90%;
    object-fit: cover;
    
}
*/
.table {
    width: 100%;
    background-color: rgb(77,166,154);
}

table img {
    width: 480px;
    height: 500px;
    object-fit: cover;
    object-position: 50% 50%;
    margin: 10px;
    padding: 10px;
    border: none;
}

table p {
    max-width: 70%;
    min-width: 30%;
    margin: 0 auto;
}

tr {
    height: 500px;
}

td {
    text-align: center;
    vertical-align: middle;
    padding-bottom: 40px;
    padding-top: 40px;
    width: 500px;
    height: 500px;
    align-items: center;
    /*border: 2px solid black;*/
    
}
/*
.info-element {
    background-color: rgb(11,27,50);
    width: 95%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 125px 0;
}*/

.info-element {
    width: 500px;
    height: 480px;
    background-color: rgb(11,27,50);
    object-position: 50% 50%;
    vertical-align: middle;
}

.heading-projects {
    color: white;
}

td .heading-projects {
    margin: 0;
    padding: 0;

}

.heading-projects h3 {
    line-height: 1.35em;
    font-size: 40px;
}

.heading-projects p {
    line-height: 1.875em;
    font-size: 15px;
}

table .main-info h4 {
    color: rgb(77,166,154);
    line-height: 1.41em;
    font-size: 22px;
}

table .main-info p {
    color: white;
    line-height: 1.875em;
    font-size: 15px;
}

/*








*/
/* KANBAN */

kanban .title {
    color: rgb(77,166,154);
    margin-top: 100px;
}

kanban p {
    color: white;
}

.main contact {
    text-align: center;
    color: white;
    margin-top: 20px;
}

contact {
    margin-top: 50px;
}

footer {
    text-align: center;
    background: rgb(11,27,50);
    line-height: 200%;
    height: 100%;
    color: white;
}
/*
.main-info {
    background-color:rgb(10,24,45);
    width: 480px;
    height: 500px;

    margin: 20px;
}

.main-info h4 {
    color: rgb(77,166,154);
    text-align: center;
    line-height: 1.41em;
    font-size: 22px;
}

.main-info p {
    color: white;
    text-align: center;
    line-height: 1.875em;
    font-size: 15px;
}

.main {

    background-color: #0b1b32;
    width: 100%;

}

heading h1 {
    color: #4da69a;
}

heading h3, heading p {
    color: white;
    width: 50%;
}

#projects {
    background-color: #4da69a;
}

contact h3 {
    text-align: center;
}

contact p {
    text-align: center;
}

contact {
    background-color: #0b1b32;
}
*/